body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather';
    
}


h1 {
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 5.620rem;
    margin: 50px auto 0px auto;
   
}

h2 {
    color: #66bfbf;
    margin: 0px auto auto auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}

h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
 h4 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
 }
 h5 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
 }
hr {
    border-style: none;
    border-top: dotted;
    border-color:#eaeaf6f6;
    border-width: 6px;
    margin: 30px auto 30px auto;
    width: 5%;
}

a {
    color: #11999e;
    margin: 10px 20px ;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover {
    color: #BEE2F9;
}
/* navigation bar */
.navbar {
   
    font-family: 'Montserrat', sans-serif;
    padding:0px  0px ;
}



/* Toggler button for .navbar */
.navbar-toggler-icon {
    background-origin: padding-box;
    border-color: black;
}

/* for navigation items */

.nav-link {
    margin: 0px 10px 0px 10px;
}

/* for containers */

.top-container {
    background-color:  #e4f9f5;
}
.boy{
    width: 30%;
}

.top-cloud {
    position: relative;

}

.intro-top {
    text-align: center;
}

/* Css rule for top conainer is ended */
.text-hello {
    margin-top: 30px;
    margin-bottom: 25px;
}



/* Css rule for the skill section */

.container-two {
    text-align: center;
    margin: 0px 100px;
}

.container-fluid {
    padding: 0% 25%;
    text-align: center  ;

    
}

/*for images used in skills*/
.skills-image {
    width: 9rem;
}



/* for the skill name */
.skill-name {
    
    margin-top: 1rem;
    margin-left:5rem;
    position: relative;
    right: 40px;
   
}

.sf {
    margin-left: 40px;
    text-align: left;
}
.skill-name-2 {
    margin-top: 1rem;
    margin-left: 3rem;
    
    text-align: left;
}

@media (max-width: 1024px){
    .skill-name {
        margin-top: 1rem;
        margin-left: 5rem;
        text-align: left;
    }

    .skill-container {
        text-align: center;
    }
    
    .sf {
        margin-left: auto;
        text-align: center;
    }

    .feature-box {
        margin-top: 30px;
    }

    .myStyle-center {
        text-align: center;
    }

}

.row {
    margin-top: 2rem;
}
/*some extra styling used everywher*/

.space-down {
    margin-bottom: 40px;
}

/* project section */
.card {
    margin: 20px auto;
}
  
/* hobbies section */
.skills-image-2 {
    width: 6rem;
}


/*footer part */
.myAlign-center {
    text-align: center;
}


/* annimations */

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }